{% extends 'layout/base.html' %}

{% block title %}Giỏ hàng{% endblock %}

{% block content %}
<h1 class="text-center text-success mt-3">GIỎ HÀNG</h1>

{% if 'cart' in session %}
<table class="table">
    <tr>
        <th>Tên sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id="cart{{ c.id }}">
        <td>{{ c.name }}</td>
        <td>{{ "{:,.0f}".format(c.price) }} VNĐ</td>
        <td>
            <input type="number" value="{{ c.quantity }}" class="form-control" onblur="updateCart({{ c.id }}, this)">
        </td>
        <td>
            <button class="btn btn-danger" onclick="deleteFromCart({{ c.id }})">&times;</button>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="d-flex flex-row gap-3">
    <div class="col-md-6 col-xs-12 alert alert-info">

        <h3>Chọn mã giảm giá</h3>
        {% if current_user.is_authenticated %}
        <select class="form-select" id="select-coupon" onchange="applyCoupon()">
            <option value="no">Không chọn</option>
            {% for c in coupons %}
            <option value="{{ c.coupon.code }}"
                    {% if c.coupon.code|string == session.get('coupon_slot', {}).get('code')|string %}
                        selected
                    {% endif %}>{{ c.coupon.code }} - Giá trị giảm: {{ "{:,.0f}".format(c.coupon.value) }}
                    {% if c.coupon.coupon_type.name|string == 'VARIABLE' %}
                        %
                    {% endif %}
            </option>
            {% endfor %}
        </select>
        {% else %}
        <a href="/login?next=/cart">Đăng nhập để có thể sử dụng mã giảm giá</a>
        {% endif %}
    </div>
    <div class="col-md-6 col-xs-12 alert alert-success">
        <h2>Số lượng sản phẩm: <span class="cart-counter">{{ stats_cart.total_quantity }}</span></h2>
        <h2>Tổng tiền gốc: <span class="total-price">{{ "{:,.0f}".format(stats_cart.total_price) }} VNĐ</span></h2>
        <h2>Giá trị được giảm: <span class="discount-value">{{ "{:,.0f}".format(stats_cart.discount_value) }} VNĐ</span></h2>
        <h2>Tổng tiền: <span class="final-price">{{ "{:,.0f}".format(stats_cart.final_price) }} VNĐ</span></h2>
    </div>
</div>

    {% if current_user.is_authenticated %}
    <button class="btn btn-success w-100" onclick="order()">Đặt hàng</button>
    {% else %}
    <div class="text-center">
        <a href="/login?next=/cart">Đăng nhập để có thể đặt hàng</a>
    </div>
    {% endif %}
{% else %}
<h2>Không có sản phẩm nào trong giỏ hàng !!!</h2>
{% endif %}

{% endblock %}