{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<h1 class="text-success text-center">Danh sách mã giảm giá</h1>

{% if err_msg %}
<div class="alert alert-danger">{{err_msg}}</div>
{% endif %}

<table class="table">
  <tr>
    <th>Tên mã</th>
    <th>Giá trị</th>
    <th>Số lần đã dùng</th>
    <th>Số lần sử dụng tối đa</th>
    <th>Hạn sử dụng</th>
  </tr>
  {% for c, u in coupons_user %}
  <tr>
    <td>{{ c.coupon.code }}</td>
    <td>{{ "{:,.0f}".format(c.coupon.value) }}
    {% if c.coupon.coupon_type.name == 'FIXED' %}
      VNĐ
    {% else %}
      %
    {% endif %}
    </td>
    <td>{{ u[1] }}</td>
    <td>{{ c.usage_limitation }}</td>
    <td>{{ c.coupon.expiry_date }}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}